---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
const projects = (await getCollection("proyectos")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
const last_projects = projects.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-4xl font-bold">Soy Jaime TL</div>
    <div class="text-2xl py-3 font-bold">Estudiante de Desarrollo</div>
    <div class="py-2">
      <text class="text-lg prose">
        Después de completar mis estudios como Técnico Superior en Administración de Sistemas Informáticos, trabajé durante 20 años en una consultora.         
        Concluida esta etapa, decidí actualizar y ampliar mis conocimientos en el campo de la informática. Actualmente, estoy cursando dos másters: uno en <strong>Desarrollo Web Fullstack</strong> y otro en <strong>Desarrollo Blockchain</strong>.
        <br />
        Mi objetivo es adquirir habilidades en lenguajes y frameworks modernos. Soy apasionado de la automatización y la eficiencia, y estoy buscando nuevas oportunidades para aplicar mis conocimientos y continuar creciendo como desarrollador.        
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="/about"> Sobre mí</a>
      <a href="contacto" class="btn btn-outline ml-5">
        Contacto
      </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Últimos posts</div>
  </div>
  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          description={post.data.description}
          badge={post.data.badge}
          pubDate={post.data.pubDate}
          tags={post.data.tags}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
        />
        <div class="divider my-0" />
      </>
    ))
  }

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Últimos proyectos</div>
  </div>
  {
    last_projects.map((project) => (
      <>
        <HorizontalCard
          title={project.data.title}
          img={project.data.heroImage}
          description={project.data.description}
          badge={project.data.badge}
          pubDate={project.data.pubDate}
          tags={project.data.tags}
          url={"/proyectos/" + createSlug(project.data.title, project.slug)}
          target="_self"
        />
        <div class="divider my-0" />
      </>
    ))
  }

<div>&nbsp;</div>

<div class="mb-14 text-center">
  <div class="text-3xl w-full font-bold mb-5 mt-10">Nº posts por Mes</div>
  <img src="https://raw.githubusercontent.com/Jaterli/fastAPI/main/grap.png" title="Nº posts por Mes" alt="Nº posts por Mes" class="grap" />    
  <div class="mt-4">Gráfica desarrollada con Python <br />utilizando la librería de Streamlit</div>
</div>

</BaseLayout>

<style>
  .grap{
    width: 400px;
    display: inline;
  }
</style>