---
const {
  title,
  description,
  heroImage,
  badge,
  url,
  tags
} = Astro.props;
import { Image } from "astro:assets";
---

<div class="rounded-lg bg-base-100 hover:shadow-xl transition ease-in-out hover:scale-[102%]">
  <a href={url}>
    <div class="hero-content flex-col md:flex-row">
      {
        heroImage && (
          <Image
            width={750}
            height={422}
            format="webp"
            src={heroImage}
            alt={title}
            class="max-w-full md:max-w-[13rem] rounded-lg object-cover max-h-28"
          />
        )
      }
      <div class="grow w-full p-5 md:p-0">
        <h1 class="text-xl font-bold pb-2">
          {title}  &nbsp;
          {badge && <div class="badge badge-neutral rounded">{badge}</div>}
        </h1>
        <p class="text-1xl">{description}</p>
        <div class="card-actions justify-end pt-1">
          {
            tags && tags.map((tag) => (
              <span class="badge badge-outline">{tag}</span>      
            ))
          }
        </div>

      </div>
    </div>
  </a>
</div>
